language: cpp
dist: xenial

branches:
  except: /^appveyor.*$/

git:
  depth: 5

addons:
  apt:
    packages:
      - libsdl2-mixer-dev
      - libvorbis-dev
      - libflac-dev
      - libvpx-dev
      - libglu1-mesa-dev
      - libgtk2.0-dev

matrix:
  include:
    - os: linux
      compiler: gcc

    - os: linux
      compiler: clang

    - os: osx
      osx_image: xcode10.1

    - os: osx
      osx_image: xcode10.1
      env:
        - USE_XCODE=1

script:
  - if [[ -n "$USE_XCODE" ]]; then
      cd platform/Apple;
      set -o pipefail && xcodebuild -configuration Release | xcpretty;
      exit;
    elif [[ $TRAVIS_OS_NAME == 'osx' ]]; then
      brew install sdl2_mixer flac libvpx;
    fi
  - make --jobs=2 --keep-going

notifications:
  email: false
